body {
  overflow-x: hidden;
  scroll-behavior: auto;
  font-family: "Poppins", sans-serif;
}

.nav {
  position: fixed;
  width: 100%;
  height: 7vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
}

.logo a {
  color: #118bfe;
  font-size: 2em;
  margin-left: 1.5em;
  cursor: pointer;
  text-decoration: none;
}

.nav-link a {
  color: #118bfe;
  font-size: 1.5em;
  margin-right: 3em;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid transparent;
}

.nav-link a:hover {
  color: white;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid white;
}

.hero {
  background: url("images/hero_image.jpg") center/cover no-repeat;
  width: 100%;
  height: 100vh;
}

.banner {
  color: white;
  position: absolute;
  left: 50px;
  bottom: 25vh;
  font-size: 4em;
}

.hero-link {
  color: white;
  position: absolute;
  left: 50px;
  bottom: 15vh;
  font-size: 4em;
}

.hero-link span {
  color: #118bfe;
  cursor: pointer;
}

.project1 {
  position: absolute;
  height: 30vh;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.7);
  top: 10vh;
  left: -40vw;
  transition: transform 1s ease-in-out;
}

.project2 {
  position: absolute;
  height: 30vh;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.7);
  top: 10vh;
  right: -40vw;
  transition: transform 1s ease-in-out;
}

.project3 {
  position: absolute;
  height: 30vh;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 10vh;
  right: -40vw;
  transition: transform 1s ease-in-out;
}

.p1 {
  transform: translateX(45vw);
}

.p2,
.p3 {
  transform: translateX(-45vw);
}

.project-title {
  font-size: 2em;
  color: rgb(95, 223, 255);
  text-align: center;
  margin-top: 0.5em;
}

.project-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-desc {
  color: rgb(95, 223, 255);
  font-size: 1.5em;
  margin: 0.5em;
  margin-top: 0;
}

.project-icon i {
  cursor: pointer;
  color: #118bfe;
  margin: 10px;
  padding: 10px;
}

.project-image img {
  height: 20vh;
  margin: 0.5em;
}

.about {
  background-color: #1d8cfe;
  color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-title {
  font-size: 5vh;
}

.about-text {
  font-size: 2vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-picture,
.about-description {
  margin: 1vh;
}

i {
  cursor: pointer;
  margin: 1.5em;
}
